body{
    background-color: rgb(149, 238, 172);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(241, 164, 12);
}
#user_name{
    text-align: center;
}

#login_button{
   
    background-color: rgb(56, 236, 39);
    width: 100px;
    font-size: 20px;
    margin: 10px;
    height: 40px;
}
#buttonp{
    width: 200px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(153, 190, 50);
}

#room_name{
    width: 300px;
}
html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #f5c7d1, #f493a8, #f6708d, #f54b70, #f5073a);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}


.message_h4
{
	padding-left:5px;color:grey;
}